:root {
    --cor-primaria: #884a39;
    --cor-secundaria: #815f48;
    --cor-terciaria: #ffc26f;
    --cor-quaternaria: #b4b1ac;
    --cor-fundo: #cacdcf;
    --fonte-primaria: 'Times New Roman', serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

body {
    margin: 20px 50px;
    text-align: justify;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-primaria);
}

.titulo-de-pagina {
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: var(--fonte-secundaria);
}

.titulo-de-secao {
    color: var(--cor-primaria);
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
    font-family: var(--fonte-secundaria);
    }

/* 
section#artigos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
*/

.titulo-de-artigo {
    color:  var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: var(--fonte-secundaria);
}

.subtitulo-de-artigo {
    color: var(--cor-secundaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: var(--fonte-secundaria);
    font-style: italic;
    margin-bottom: 10px;
}


p{
    color: #3f3f3f;
    line-height: 1.2;
}

.paragrafo-de-artigo:first-of-type {
    border-radius: 20px 0 0 0;
}

.paragrafo-de-artigo:last-of-type {
    border-radius: 0 0 20px 0;
}

.paragrafo-de-artigo:only-of-type {
    border-radius: 20px 0 20px 0; 
}

.paragrafo-de-artigo {
    background-color: var(--cor-quaternaria);
    padding: 20px;
}

p + .paragrafo-de-artigo {
    padding-top: 0;
}

article {
    border: 4px solid #685c7e;
    padding: 30px;
    margin: 30px 0;
    border-radius: 35px;
    width: ;
}

/*Estilos do menu principal*/

.menu-principal ul {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.menu-principal li {
    color: var(--cor-terciaria);
    line-height: 40px;
    display: flex;
    transition: all .5s;
}

.menu-principal a {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 120%;
    padding: 0 20px;

}

.menu-principal li:hover {
    background-color: rgb(47, 87, 105);
}